<% content_for :page_title do %>
  Создание пользователя
<% end %>

<% content_for :breadcrumbs do %>
  <%= render "admin/shared/breadcrumb_item", name: "Пользователи", path: admin_users_path %>
  <%= render "admin/shared/breadcrumb_item", name: "Создание пользователя", path: new_admin_user_path %>
<% end %>

<div class="flex justify-between items-center mb-6">
  <h1 class="text-2xl font-bold text-gray-800">Создание пользователя</h1>
</div>

<div class="bg-white shadow rounded-lg overflow-hidden">
  <div class="px-6 py-4 border-b border-gray-200">
    <h3 class="text-lg font-medium text-gray-700">Форма создания пользователя</h3>
  </div>
  <div class="p-6">
    <%= render "form", user: @user %>
  </div>
</div>