<footer>
  <div class="h-16 w-full bg-blue-500 flex gap-5 p-2">
    <div>
      <ul class="text-lg text-white ">
        <li>Что-то 1</li>
        <li>Что-то 2</li>
      </ul>
    </div>
    <div>
      <ul class="text-lg text-white ">
        <li>Что-то 1</li>
        <li>Что-то 2</li>
      </ul>
    </div>
  </div>
</footer>