<header class = "bg-blue-500 w-full flex items-center px-2 py-6 gap-x-6">
  <h1 class="uppercase font-bold text-white text-4xl">Мехмат ЮФУ</h1>
</header>
<div class="flex justify-center border-b-1 border-opacity-30 border-gray-300 bg-gray-100/30 p-2">
  <nav>
    <ul class="flex gap-4 font-bold text-cyan-700/70 text-xl">
      <li><a class="hover:text-cyan-400 hover:cursor-pointer">Главная</a></li>
      <li><a class="hover:text-cyan-400 hover:cursor-pointer">Поиск</a></li>
    </ul>
  </nav>
</div>