<div class="border-r border- h-full w-full border-opacity-30 border-gray-300 p-4 bg-cyan-200/10">
  <nav>
    <ul class="flex flex-col gap-3 text-cyan-700/80">
      <li>
        <div>
          <button class="font-bold text-xl">Общая информация</button>
          <ul class="flex flex-col gap-1 text-cyan-800/60 ml-5">
            <li class="hover:cursor-pointer hover:text-gray-700">Расписание</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Сервис БРС</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Международные проекты</li>
          </ul>
        </div>
      </li>
      <div class="h-px bg-gray-400"></div>
      <li>
        <div>
          <button class="font-bold text-xl">Студентам и аспирантам</button>
          <ul class="flex flex-col gap-1 text-cyan-800/60 ml-5">
            <li class="hover:cursor-pointer hover:text-gray-700">Кабинет студента</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Учебная среда Moodle</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Корпоративные траектории</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Сайт ФИИТ</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Механика и математическое моделирование</li>
            <li class="hover:cursor-pointer hover:text-gray-700"> Лаборатория ИИ и робототехники</li>
          </ul>
        </div>
      </li>
      <div class="h-px bg-gray-400"></div>
      <li>
        <div>
          <button class="font-bold text-xl">Поступление</button>
          <ul class="flex flex-col gap-1 text-cyan-800/60 ml-5">
            <li class="hover:cursor-pointer hover:text-gray-700">Образовательная программа "Математика, механика и матмоделирование"</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Воскресная компьютерная школа</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Воскресная математическая школа</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Нулевой курс</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Аспирантура</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Магистратура</li>
          </ul>
        </div>
      </li>
      <div class="h-px bg-gray-400"></div>
      <li>
        <div>
          <button class="font-bold text-xl">Разное</button>
          <ul class="flex flex-col gap-1 text-cyan-800/60 ml-5">
            <li class="hover:cursor-pointer hover:text-gray-700">Фотогалерея</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Файловый архив</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Регистрация на мероприятия</li>
            <li class="hover:cursor-pointer hover:text-gray-700">Поддержка компьютерных классов</li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>