<!-- app/views/layouts/_navbar.html.erb -->

<div class="bg-white border-r border-gray-200 shadow-sm h-full">
  <div class="p-4 space-y-6">
    <div>
      <button class="dropdown-button w-full flex justify-between items-center text-left font-semibold text-teal-700 hover:text-teal-500">
        Общая информация
        <i class="fas fa-chevron-down"></i>
      </button>
      <ul class="dropdown-content pl-4 pt-2 space-y-2 text-gray-700">
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Расписание</a></li>
        <li><a href="https://grade.sfedu.ru/" class="hover:text-teal-500 transition duration-300">Сервис БРС</a></li>
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Международные проекты</a></li>
      </ul>
    </div>

    <div class="border-t border-gray-200 pt-4">
      <button class="dropdown-button w-full flex justify-between items-center text-left font-semibold text-teal-700 hover:text-teal-500">
        Студентам и аспирантам
        <i class="fas fa-chevron-down"></i>
      </button>
      <ul class="dropdown-content pl-4 pt-2 space-y-2 text-gray-700">
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Кабинет студента</a></li>
        <li><a href="https://edu.mmcs.sfedu.ru/" class="hover:text-teal-500 transition duration-300">Учебная среда Moodle</a></li>
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Корпоративные траектории</a></li>
        <li><a href="http://it.mmcs.sfedu.ru/" class="hover:text-teal-500 transition duration-300">Сайт ФИИТ</a></li>
        <li><a href="https://air.mmcs.sfedu.ru/" class="hover:text-teal-500 transition duration-300">Лаборатория ИИ</a></li>
      </ul>
    </div>

    <div class="border-t border-gray-200 pt-4">
      <button class="dropdown-button w-full flex justify-between items-center text-left font-semibold text-teal-700 hover:text-teal-500">
        Поступление
        <i class="fas fa-chevron-down"></i>
      </button>
      <ul class="dropdown-content pl-4 pt-2 space-y-2 text-gray-700">
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Образовательная программа</a></li>
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Воскресная компьютерная школа</a></li>
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Воскресная математическая школа</a></li>
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Нулевой курс</a></li>
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Аспирантура</a></li>
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Магистратура</a></li>
      </ul>
    </div>

    <div class="border-t border-gray-200 pt-4">
      <button class="dropdown-button w-full flex justify-between items-center text-left font-semibold text-teal-700 hover:text-teal-500">
        Разное
        <i class="fas fa-chevron-down"></i>
      </button>
      <ul class="dropdown-content pl-4 pt-2 space-y-2 text-gray-700">
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Фотогалерея</a></li>
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Файловый архив</a></li>
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Регистрация на мероприятия</a></li>
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Поддержка</a></li>
      </ul>
    </div>

    <div class="border-t border-gray-200 pt-4">
      <button class="dropdown-button w-full flex justify-between items-center text-left font-semibold text-teal-700 hover:text-teal-500">
        Задать вопрос
        <i class="fas fa-chevron-down"></i>
      </button>
      <ul class="dropdown-content pl-4 pt-2 space-y-2 text-gray-700">
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Задать вопрос</a></li>
        <li><a href="#" class="hover:text-teal-500 transition duration-300">Ответы директора</a></li>
      </ul>
    </div>
  </div>
</div>